{% block noteSettings %}
    <div id="note-settings" class="note-settings">
        <div id="filed-settings" class="filed-settings">{{ filed }}</div>
        <div id="button-settings" class="button-settings">
            <div id="note-button-title" class="title"><h2>{{ titleButton }}</h2></div>
            <div id="buttons" class="buttons">{{ buttons }}</div>
        </div>
        <div id="parent" class="parent">{{ parent }}</div>
    </div>
{% endblock %}