.modal-message {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  border: 3px #000 solid;
  background: #fff;
  position: fixed;
  top: 45%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  z-index: 5;
  padding: 20px 10px;
  display: none;
}

.close-modal {
  width: 21px;
  height: 21px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  float: right;
  text-align: center;
  border: 2px solid;
  border-radius: 25px;
  bottom: 4px;
}

.header-modal {
  margin-bottom: 5px;
}

.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #000;
  opacity: 0.8;
  -moz-opacity: 0.8;
  display: none;
}

.modal-message .modal-title {
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  display: inline-block;
  position: relative;
}