<div id="modal" class="modal-message" style="{{ styles }}">
    <div id="title">{{  title }}</div>
    <div id="close" class="close-modal">X</div>
    <div id="text" class="message-text">{{ message }}</div>
</div>

<div id="overlay"></div>