{% extends "@classy/misc/status-messages.html.twig" %}
{% block messages %}
    {% if message_list is not empty %}
        {{ attach_library('bartik/messages') }}
        <div id = "message" class="modal-message">
            <div id = "header-modal" class="header-modal">
                <div id="title" class="modal-title">{{ titleSM }}</div>
                <div id="close" class="close-modal close">X</div>
            </div>
            <div id="text" class="message-text">{{ parent() }}</div>
        </div>
    {% endif %}

    <div id = "overlay" class="modal-overlay close"></div>
{% endblock messages %}